{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
      "semi": ["error", "never"],
      "indent": ["error", 4],
      "space-before-function-paren": ["error", "never"],
      "max-len": ["error", 100]
  }
}