# testing
coverage
jest
.nyc_output

# misc
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.env
.env.staging
.git
.editorconfig
npm-debug.log
node_modules
